{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}

<div class="login-style">

    <div style="width: 75%;">
        <div style="display: flex; align-items: center; justify-content: center;">
        <h2>Login</h2>
    </div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex flex-row-reverse bd-highlight">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <p>
                    Não tem uma conta?
                    <a href="{% url 'register'%}"><b>CADASTRE-SE</b></a>
                </p>
            </div>
            
    </div>
    
</div>
</form>
{% endblock%}