{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<div class="login-style  ">
    <h2>Login</h2>
    <div style="width: 75%;">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex flex-row-reverse bd-highlight">
                <button type="submit" class="btn btn-lg btn-primary">Login</button>
            </div>
        </form>
    </div>
    <p>Não tem uma conta? <a href="{% url 'register'%}"><b>CADASTRE-SE</b></a></p>
</div>
{% endblock%}