{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <link rel="stylesheet" href="{% static 'styles/wickedcss.min.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Retiro Família</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home'%}">
        <img src="{% static  'imgs/logo-retiro.png' %}" alt="" width="240px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'incricoes_list'%}">Minhas Inscrições</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"
              id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
              {% if user.userprofile.foto %}
              <img src="{{ user.userprofile.foto.url }}" width="40" height="40" class="rounded-circle">
              {% else %}
              <img src="{% static  'imgs/default-user-image.jpg' %}" width="40" height="40" class="rounded-circle">
              {% endif %}

            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p class="ms-3 "><b>{{ user.username }}</b></p>

              <a class="dropdown-item" href="{% url 'atualizar-perfil'%}">Editar Perfil</a>
              <a class="dropdown-item" href="{% url 'logout'%}">Sair</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#casais">Para Casais</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#solteiros">Para Solteiros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inscrever'%}">Inscrições</a>
          </li>
          <a class="nav-link" href="{% url 'login'%}">
            <button class="btn btn-primary">Entrar</button>
          </a>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>