{% extends 'partials/base.html' %}
{% load static %}

{% block main %}
<div class="container pt-5">
    <h4>Olá {{user.username}}</h4>
    <hr>
    <p style="text-align: justify;">Seja bem vindo a uma área só sua!!</p>
    <p style="text-align: justify;">Nessa pagina você pode gerenciar suas inscrições, registrar pagamentos e ver
        detalhes.</p>
    <p>Você pode realizar a sua inscrição e também a inscrição de seus dependentes e convidados, para isso, basta clicar
        no ícone <i class="bi bi-plus-circle-fill" style="font-size: 1.5rem; color: #2067eb;"></i> logo no canto
        superior direito da tela.</p>
    <p><b>Para registrar um pagamento, siga as instruções abaixo:</b></p>
    <ol>
        <li>Escolha a inscrição para a qual quer registrar o pagamento</li>
        <li>Click na lupa para exibir os detalhes da isncrição, na página seguinte você pode registrar o
            pagamento</li>
        <hr>
    </ol>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="alert alert-dismissible alert-{{message.tags}}" {% endif %} role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </li>
        {% endfor %}
    </ul>

    {% endif %}
    <div class="row jumbotron p-5">
        <div class="container d-flex justify-content-between mb-5 ">
            <h4 class="display-6">Estas são as suas inscrições</h4>
            <a href="{% url 'inscrever'%}"> <i class="bi bi-plus-circle-fill"></i>
            </a>
        </div>
        <hr>
        {% for i in inscricoes %}
        <div class="card mb-5 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{i.nome_inscrito }}</h5>
                <p class="lead"><b>Idade: </b> {{i.idade }} anos</p>
                <p class="lead"><b>Estado civil: </b> {{i.estado_civil }} </p>
                <p class="lead"><b>Valor da inscrição: </b>R$ {{i.valor_inscricao }} </p>

                <hr>
                <div class="d-flex justify-content-end gap-3">
                    <a href="{% url 'incricoes_detalhe' i.id %}" class="btn btn-info"><i class="bi bi-search"
                            style="color: #fefefe;">Detalhes</i></a>

                    <a href="{% url 'atualizar' i.id %}" class="btn btn-secondary"><i class="bi bi-pencil"
                            style="color: #fefefe;">Editar</i></a>

                    <a href="{% url 'incricoes_delete' i.id %}" class="btn btn-danger"><i class="bi bi-trash3-fill"
                            style="color: #fefefe;">Excluir</i></a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}