{% extends 'partials/base.html' %}
{% load static %}

{% block main %}
<div class="container h-100 pt-5">
    <h4>Olá {{user.username}}</h4>
    <hr>
    <p style="text-align: justify;">Seja bem vindo a uma área só sua!!</p>
    <p style="text-align: justify;">Nessa pagina você pode gerenciar suas inscrições, registrar pagamentos e ver
        detalhes</p>
    <p>Você pode realizar a sua inscrição e também a inscrição de seus dependentes e convidados, para isso, basta clicar
        no ícone azul de + logo no canto inferios direito da tela</p>
    <p>Para registrar um pagamento, siga as instruções abaixo:</p>
    <ol>
        <li>Escolha a inscrição para a qual quer registrar o pagamento</li>
        <li>Click na lupa para exibir os detalhes da isncrição, na página seguinte você pode registrar o pagamento</li>
        <hr>
    </ol>
    <p><b>Estas são as suas inscrições</b></p>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="alert alert-dismissible alert-{{message.tags}}" {% endif%} role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </li>
        {% endfor %}
    </ul>

    {% endif %}

    <table id="list-insc" class="stripe">
        <thead>
            <tr>
                <th>Nome do Inscrito</th>
                <th>Responsável</th>
                <th>Valor da Inscrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for i in inscricoes %}
            <tr>
                <td>{{i.nome_inscrito }}</td>
                <td>{{i.responsavel }}</td>
                <td>{{i.valor_inscricao }}</td>
                <td class="d-flex justify-content-around">
                    <a href="{% url 'atualizar' i.id %}"><i class="bi bi-search"
                            style="font-size: 1.5rem; color: #2067eb;"></i></a>

                    <a href="{% url 'atualizar' i.id %}"><i class="bi bi-pencil-fill"
                            style="font-size: 1.5rem; color: #2067eb;"></i></a>

                    <a href="{% url 'incricoes_delete' i.id %}"><i class="bi bi-trash3-fill"
                            style="font-size: 1.5rem; color: #f80c0c;"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container d-flex flex-row-reverse bd-highlight pt-5 ">
        <a href="{% url 'inscrever'%}"> <i class="bi bi-plus-circle-fill" style="font-size: 4rem; color: #2067eb;"></i>
        </a>
    </div>

</div>

{% endblock %}