{% extends 'partials/base.html' %}
{% load static %}

{% block main %}

<div class="container pt-5 pb-5">
    <div class="jumbotron p-5">
        <h1 class="display-4">Detalhes da Inscrição</h1>
        <p class="lead">Olá {{user.username}}.</p>
        <p class="lead">Aqui você tem todos os detalhes da inscrição de <b class="pago">{{inscricao.nome_inscrito }}
                {% if inscricao.conjuge %} e {{inscricao.conjuge }} {% endif %}</b>.</p>
        <p class="lead">Agora você pode Editar dados que eventualmente foram preenchidos com erros, pode cancelar
            inscrição e pode registrar pagamentos.</p>
        <p class="lead">Importante lembrar que você pode registrar seu pagamento parcelado, contando que até a data do
            retiro, em 11 de outubro de 2024, o valor total esteja quitado por completo. </p>
        <hr class="my-4">

        {% if inscricao.estado_civil == 'Casado' %}
        <p class="lead"><b>Nome do Sacerdote: </b> {{inscricao.nome_inscrito }} |
            <b>Idade: </b> {{inscricao.idade }} anos
        </p>

        {% if inscricao.conjuge %}
        <p class="lead"><b>Nome da Esposa virtuosa: </b> {{inscricao.conjuge }} |
            <b>Idade: </b> {{inscricao.idade_conjuge }} anos
        </p>
        {% else %}
        <h5 class="card-title a_pagar">Hei varão, você esqueceu de informar os dados de sua esposa!!
        </h5>
        <a href="{% url 'atualizar' inscricao.id %}">
            <h5 class="card-title pago">Click aqui e atualize sua inscrição!</h5>
        </a>
        <hr>
        {% endif %}
        <p class="lead"><b>Data da Inscrição: </b> {{inscricao.dt_inscricao }} </p>
        <p class="lead"><b>Telefones: </b> {% if inscricao.telefone_1 %}{{inscricao.telefone_1 }} {% endif %}
            {% if incricao.telefone_2 %} | {{inscricao.telefone_2 }} {% endif %}</p>

        <p class="lead"><b>Cep: </b> {{inscricao.cep }} </p>
        <p class="lead"><b>Endereço: </b> {{inscricao.logradouro }}, nº {{inscricao.numero }}
            {% if inscricao.complemento %}, {{ inscricao.complemento}}{% endif %}, {{inscricao.bairro }}
            - {{inscricao.cidade }}/ {{ inscricao.uf}}
        </p>

        {% else %}
        <p class="lead"><b>Nome do Incrito: </b> {{inscricao.nome_inscrito }} </p>
        <p class="lead"><b>Idade: </b> {{inscricao.idade }} | <b>Estado civil: </b> {{inscricao.estado_civil }} </p>
        <p class="lead"><b>Data da Inscrição: </b> {{inscricao.dt_inscricao }} </p>
        <p class="lead"><b>Telefones: </b> {% if inscricao.telefone_1 %}{{inscricao.telefone_1 }} {% endif %}
            {% if incricao.telefone_2 %} | {{inscricao.telefone_2 }} {% endif %}</p>
        <p class="lead"><b>Email: </b> {% if inscricao.email %} {{inscricao.email }} {% endif %} </p>

        <p class="lead"><b>Cep: </b> {{inscricao.cep }} </p>
        <p class="lead"><b>Endereço: </b> {{inscricao.logradouro }}, nº {{inscricao.numero }}
            {% if inscricao.complemento %}, {{ inscricao.complemento}}{% endif %}, {{inscricao.bairro }}
            - {{inscricao.cidade }}/ {{ inscricao.uf}}
        </p>

        <p class="lead"><b>{% if inscricao.parentesco_responsável %}Responsável: </b>
            {{inscricao.responsavel }} | <b>Parentesco: </b> {{ inscricao.parentesco_responsável}} {% endif %} </p>

        {% endif %}
        <hr class="my-4">
        {% if pagamentos %}
        <h3 class="display-6">Pagamentos realizados</h3>
        <hr class="my-4">
        <table id="list-insc" class="stripe">
            <thead>
                <tr>
                    <th>Data do pagamento </th>
                    <th>Valor Pago</th>
                    <th>Comprovante</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in pagamentos %}
                <tr>

                    <td>{{ p.data_pagamento }}</td>
                    <td>R$ {{ p.valor }}</td>
                    <td><a href=" {{ p.comprovante_pagamento.url }}" target="_blank">Visualizar comprovante</a> </td>
                    <td>
                        {% if p.status == 'Aprovado'%}
                        <a href="{{ p.comprovante_pagamento.url }}"><i title="Pagamento aprovado"
                                class="bi bi-check-circle-fill" style="font-size: 1.5rem; color: #049e04;"></i></a>

                        {% elif p.status == 'Pendente de conferência' %}
                        <a href="{% url 'pagamento_delete' p.id %}"><i title="Pendente a Conferência"
                                class="bi bi-check2-square" style="font-size: 1.5rem; color: rgb(49, 48, 48);"></i></a>
                        {% elif p.status == 'Reprovado' %}
                        <a href="{% url 'pagamento_delete' p.id %}"><i title="Pagamento não localizado"
                                class="bi bi-x-octagon-fill" style="font-size: 1.5rem; color: #f10808;"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-5 d-flex justify-content-between">
            <div>
                <p class="lead"><b>Valor da Inscrição: </b>R$ {{inscricao.valor_inscricao }} </p>
                <p class="lead"><b>Forma de Pagamento: </b> {{inscricao.status }} </p>
                {% if total_pago >= inscricao.valor_inscricao %}
                <h1 class="display-6 pago"> Total pago: {{inscricao.total_pago }}</h1>
                {% else %}
                <h1 class="display-6 a_pagar"> Total pago: {{inscricao.total_pago }}</h1>
                {% endif %}
            </div>
            <div>
                <a href="{% url 'incricoes_pagar' inscricao.id %}" class="btn btn-success"><i class="bi bi-coin"
                        style="font-size: 1.5rem; color: #f1f2f6;">Registrar novo pagamento</i></a>
            </div>

        </div>
        {% else %}
        <h3 class="display-6 a_pagar">Nenhum pagamento registrado</h3>
        <hr class="my-4">

        <div class="mt-5 d-flex justify-content-between">
            <div>
                <p class="lead"><b>Valor da Inscrição: </b>R$ {{inscricao.valor_inscricao }} </p>
                <p class="lead"><b>Forma de Pagamento: </b> {{inscricao.status }} </p>
                {% if total_pago > 0 %}
                {% if total_pago >= inscricao.valor_inscricao %}
                <h1 class="display-6 pago"> Total pago: {{inscricao.total_pago }}</h1>
                {% else %}
                <h1 class="display-6 a_pagar"> Total pago: {{inscricao.total_pago }}</h1>
                {% endif %}
                {% endif %}
            </div>
            <div>
                <a href="{% url 'incricoes_pagar' inscricao.id %}" class="btn btn-success"><i class="bi bi-coin"
                        style="font-size: 1.5rem; color: #f1f2f6;">Registrar primeiro pagamento</i></a>
            </div>

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}