{% extends 'partials/base.html' %}
{% load static %}
{% block main %}
{% include 'partials/slider.html' %}
<div class="container">
    <section id="sobre-retiro" class="sessions">

        <h1>Sobre o Retiro</h1>
        <div>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin
                literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney
                College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                passage,
                and
                going through the cites of the word in classical literature, discovered the undoubtable source. Lorem
                Ipsum
                comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                Evil)
                by
                Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                Renaissance.
                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            <p>

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections
                1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                original
                form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </p>
        </div>

    </section>


    <section id="para-casais" class="sessions">
        <h1>Para Casais</h1>
        <div class="dados-index">
            <div>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin
                    literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                    Hampden-Sydney
                    College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                    passage,
                    and
                    going through the cites of the word in classical literature, discovered the undoubtable source.
                    Lorem
                    Ipsum
                    comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                    Evil)
                    by
                    Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                    Renaissance.
                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                <p>

                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    Sections
                    1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                    exact
                    original
                    form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </p>
            </div>
            <div>
                <img class="imagens-index" src="{% static 'imgs/parque.png' %}" alt="...">
                <img class="imagens-index" src="{% static 'imgs/parque2.png' %}" alt="...">
            </div>
        </div>
    </section>

    <section id="para-Solteiros" class="sessions">
        <h1>Para Solteiros</h1>
        <div class="dados-index">
            <div>
                <img class="imagens-index" src="{% static 'imgs/parque.png' %}" alt="...">
                <img class="imagens-index" src="{% static 'imgs/parque2.png' %}" alt="...">
            </div>
            <div>

                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin
                    literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                    Hampden-Sydney
                    College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                    passage,
                    and
                    going through the cites of the word in classical literature, discovered the undoubtable source.
                    Lorem
                    Ipsum
                    comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                    Evil)
                    by
                    Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                    Renaissance.
                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                <p>

                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    Sections
                    1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                    exact
                    original
                    form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </p>

                <div>

                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical
                        Latin
                        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                        Hampden-Sydney
                        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
                        Ipsum
                        passage,
                        and
                        going through the cites of the word in classical literature, discovered the undoubtable source.
                        Lorem
                        Ipsum
                        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good
                        and
                        Evil)
                        by
                        Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
                        the
                        Renaissance.
                        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                        1.10.32.
                    <p>

                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        Sections
                        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                        exact
                        original
                        form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    </p>
                </div>
            </div>
    </section>

</div>

{% endblock%}