{% extends 'partials/base.html' %}
{% load static %}

{% block main %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 400px;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'imgs/parque.png' %}" alt="..." style="width: 100%; height: 400px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'imgs/parque2.png' %}" alt="..." style="width: 100%; height: 400px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'imgs/parque.png' %}" alt="..." style="width: 100%; height: 400px;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section>

    <h1 style="margin-bottom: 5%;">Sobre o Retiro</h1>

    <h5>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.<p>

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original
            form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
    </h5>
</section>
    <h1>Para Casais</h1>
    <div style="display: flex; justify-content: space-between;">

        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
            and
            going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
            comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
            by
            Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
            Renaissance.
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        <p>

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original
            form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        </p>

        <img src="{% static 'imgs/parque.png' %}" alt="..." style="width: 20%; height: 140px;">
    </div>

</div>

{% endblock%}