.nav-link {
    color: white !important;
}

.sessions {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.dados-index {
    display: flex;
    gap: 10px;
}

.imagens-index {
    width: 400px;
    margin: 10px;

}

.forms {
    background-color: #dcdede;
}

/* messages */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}

.jumbotron {
    background-color: #e1e3e4;
}

.a_pagar {
    color: #ff0000;
}

.pago {
    color: #0000ff;
}

.bi-plus-circle-fill {
    font-size: 4rem;
    color: #2067eb;
}

.bi-plus-circle-fill:hover {
    color: #1f55b9;
}